.THIS .page-header {
    height: 400px;
    text-align: center;
    padding-bottom: 0px;
    background-position: 0;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    position: relative;
}
.THIS .page-header-content{
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.THIS .page-header-text {
    position: relative;
    display: block;
    text-align: center;
}
.THIS .heading-1{
    font-size: 3rem;
}
.THIS .sub-heading-1{
    font-size: 1.5rem;
}